@media screen and (max-width: 992px) {
  .header {
    padding: 10px 20px;
  }

  .header-logo {
    width: 120px;
  }

  .navdeco {
    gap: 15px;
  }

  .header-menu {
    padding: 12px 20px;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content p {
    font-size: 1.2rem;
    padding: 0 10px;
  }

  .hero-content a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 740px) {
  .header-logo {
    width: 100px;
  }

  .navdeco a {
    font-size: 16px;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-content a {
    padding: 8px 16px;
    font-size: 1rem;
  }
}
